footer 
    .wrapper
        .footer 
            .index 
                ul
                    p Главная
                    li Новости
                    li О фирме
                    li Справочная информация по уходу за зубами
                    li Вакансии
            .ysluga 
                ul
                    p Услуги
                    li Прайс-лист
                    li Услуги
                    li Запись на приём
            .otziv 
                ul
                    p Отзывы
                    li Вопросы и ответы
                    li Отзывы
            .kon-info
                ul
                    p Контактная информация
                    li +7 (904) 550-68-01
                    li stomatologija@gmail.com
                    li Улица: Г. Орехово-Зуево, ул. Володарского, д. 10, каб. 246
                    li Ежедневно с 9:00 до 21:00