*{
    font-family: 'Times New Roman', Times, serif;
}
.wrapper{
    width: 1440px;
    box-sizing: border-box;
    margin: 0 auto;
}
//Шапка 
header{
    display: flex;
    ul{
        list-style-type: none;
        display: flex;
        float: right;
        margin-top: 40px;
        font-size: 25px;
        a{
            text-decoration: none;
            color: black;
            margin-right: 85px;
        }
        
        
    }
    img{
        float: left;
        width: 306px;
        height: 85px;
    }
}
//Название страницы
.page{
    background-color: #3D8EB9;
    color: white;
    width: 1440px;
    h1{
        padding: 35px;
    }
    
}
//Главная страница
.news{
    h1{
        text-align: center;
    }
    .news_block{
        width: 1122px;
        img{
            float: left;
            width: 399px;
            height: 400px;
            margin-right: 40px;
        }
        p{
            font-size: 20px;
        }
    }
    margin-bottom: 300px;
}
.ofirme{
    h1{
        text-align: center;
    }
    ul{
        font-size: 25px;
    }
    p{
        font-size: 25px;
    }
}
.info{
    h1{
        text-align: center;
    }
    li{
        font-size: 25px;
    }
    p{
        margin: 0;
        font-size: 25px;
    }
}
.vacancy{
    h1{
        text-align: center;
    }
    .vacancy_block{
        background-color: #3D8EB9;
        margin-bottom: 50px;
        p{
            font-size: 25px;
            margin: 0;
            padding: 15px;
            color: white;
        }
    }
}
//Подвал
.footer{
    background-color: #3D8EB9;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .index{
        width: 200px;
        ul{
            font-size: 25px;
            list-style-type: none;
            color: white;
        
        }
        p{
            font-size: 25px;
        }
    }
    .ysluga{
        width: 210px;
        ul{
            font-size: 25px;
            list-style-type: none;
            color: white;
        }
        p{
            font-size: 25px;
        }
    }
    .otziv{
        width: 230px;
        ul{
            font-size: 25px;
            list-style-type: none;
            color: white;
        }
        p{
            font-size: 25px;
        }
    }
    .kon-info{
        width: 400px;
        ul{
            font-size: 25px;
            list-style-type: none;
            color: white;
        }
        p{
            font-size: 25px;
        }
    }
}
//Страница Услуг
.prays-list{
    h1{
        text-align: center;
    }
    table {
        border: 1px solid black;
        border-collapse: collapse;
        width: 1159px;
        height: 561px;
        margin: auto;
    }
    th {
        border: 1px solid black;
        background-color: #3D8EB9;
        color: white;
        font-size: 30px;
    }
     td {
        border: 1px solid black;
        text-align: center;
        font-size: 30px;
    }
}
.yslygi{
    h1{
        text-align: center;
    }
    
    h2{
        font-size: 30px;
    }
    p{
        font-size: 25px;
    }
    img{
        width: 640px;
        height: 500px;
    }
    
}
.zapis{
    h1{
        text-align: center;
    }
    display: grid;
    margin-bottom: 60px;
    input{
        width: 664px;
        height: 92px;
        font-size: 30px;
        margin-bottom: 60px;
    }
    button{
        width: 664px;
        height: 92px;
        font-size: 30px;
        margin-bottom: 180px;
        background-color: #3D8EB9;
        color: white;
    }
}
//Страница Отзывов
.question{
    h1{
        text-align: center;
    }
    display: grid;
    margin-bottom: 60px;
    input{
        width: 639px;
        height: 92px;
        font-size: 30px;
        margin-bottom: 60px;
        padding-left: 25px;
    }
    textarea{
        width: 618px;
        height: 340px;
        font-size: 30px;
        margin-bottom: 60px;
        padding: 25px;
    }
    button{
        width: 664px;
        height: 92px;
        font-size: 30px;
        margin-bottom: 180px;
        background-color: #3D8EB9;
        color: white;
    }
}
.otziv{
    h1{
        text-align: center;
    }
    display: grid;
    margin-bottom: 60px;
    input{
        width: 639px;
        height: 92px;
        font-size: 25px;
        margin-bottom: 60px;
        padding-left: 25px;
    }
    textarea{
        width: 618px;
        height: 340px;
        font-size: 25px;
        margin-bottom: 60px;
        padding: 25px;
    }
    button{
        width: 664px;
        height: 92px;
        font-size: 25px;
        margin-bottom: 180px;
        background-color: #3D8EB9;
        color: white;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .wrapper{
        width: 1000px;
        box-sizing: border-box;
        margin: 0 auto;
    }
    //Шапка 
    header{
        display: flex;
        ul{
            list-style-type: none;
            display: flex;
            float: right;
            font-size: 25px;
            margin-bottom: 25px;
            a{
                text-decoration: none;
                color: rgb(0, 0, 0);
                margin-right: 35px;
            }
            
            
        }
        img{
            float: left;
            width: 306px;
            height: 85px;
            
        }
    }
    //Название страницы
    .page{
        background-color: #3D8EB9;
        color: white;
        width: 1000px;
        h1{
            padding: 35px;
        }
        
    }
    //Главная страница
    .news{
        h1{
            text-align: center;
        }
        .news_block{
            width: 981px;
            img{
                float: left;
                width: 374px;
                height: 330px;
                margin-right: 40px;
            }
            p{
                font-size: 15px;
            }
        }
        margin-bottom: 250px;
    }
    .ofirme{
        h1{
            text-align: center;
        }
        ul{
            font-size: 20px;
        }
        p{
            font-size: 20px;
        }
    }
    .info{
        h1{
            text-align: center;
        }
        li{
            font-size: 20px;
        }
        p{
            margin: 0;
            font-size: 20px;
        }
    }
    .vacancy{
        h1{
            text-align: center;
        }
        .vacancy_block{
            background-color: #3D8EB9;
            margin-bottom: 40px;
            p{
                font-size: 20px;
                margin: 0;
                padding: 10px;
                color: white;
            }
        }
    }
    //Подвал
    .footer{
        background-color: #3D8EB9;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .index{
            width: 200px;
            ul{
                font-size: 20px;
                list-style-type: none;
                color: white;
            
            }
            p{
                font-size: 20px;
            }
        }
        .ysluga{
            width: 210px;
            ul{
                font-size: 20px;
                list-style-type: none;
                color: white;
            }
            p{
                font-size: 20px;
            }
        }
        .otziv{
            width: 230px;
            ul{
                font-size: 20px;
                list-style-type: none;
                color: white;
            }
            p{
                font-size: 20px;
            }
        }
        .kon-info{
            width: 400px;
            ul{
                font-size: 20px;
                list-style-type: none;
                color: white;
            }
            p{
                font-size: 20px;
            }
        }
    }
    //Страница Услуг
    .prays-list{
        h1{
            text-align: center;
        }
        table {
            border: 1px solid black;
            border-collapse: collapse;
            width: 1000px;
            height: 511px;
            margin: auto;
        }
        th {
            border: 1px solid black;
            background-color: #3D8EB9;
            color: white;
            font-size: 25px;
        }
        td {
            border: 1px solid black;
            text-align: center;
            font-size: 25px;
        }
    }
    .yslygi{
        h1{
            text-align: center;
        }
        
        h2{
            font-size: 25px;
        }
        p{
            font-size: 20px;
        }
        img{
            width: 444px;
            height: 334px;
        }
        
    }
    .zapis{
        h1{
            text-align: center;
        }
        display: grid;
        margin-bottom: 50px;
        input{
            width: 505px;
            height: 64px;
            font-size: 30px;
            margin-bottom: 50px;
        }
        button{
            width: 510px;
            height: 64px;
            font-size: 30px;
            margin-bottom: 150px;
            background-color: #3D8EB9;
            color: white;
        }
    }
    //Страница Отзывов
    .question{
        h1{
            text-align: center;
        }
        display: grid;
        margin-bottom: 50px;
        input{
            width: 530px;
            height: 64px;
            font-size: 30px;
            margin-bottom: 50px;
            padding-left: 25px;
        }
        textarea{
            width: 510px;
            height: 277px;
            font-size: 30px;
            margin-bottom: 60px;
            padding: 25px;
        }
        button{
            width: 560px;
            height: 64px;
            font-size: 30px;
            margin-bottom: 180px;
            background-color: #3D8EB9;
            color: white;
        }
    }
    .otziv{
        h1{
            text-align: center;
        }
        display: grid;
        margin-bottom: 50px;
        input{
            width: 530px;
            height: 64px;
            font-size: 30px;
            margin-bottom: 50px;
            padding-left: 25px;
        }
        textarea{
            width: 510px;
            height: 277px;
            font-size: 30px;
            margin-bottom: 60px;
            padding: 25px;
        }
        button{
            width: 560px;
            height: 64px;
            font-size: 30px;
            margin-bottom: 180px;
            background-color: #3D8EB9;
            color: white;
        }
    }
}
@media (min-width: 480px) and (max-width: 768px){
    .wrapper{
        width: 743px;
        box-sizing: border-box;
        margin: 0 auto;
    }
    //Шапка 
    header{
        display: flex;
        ul{
            list-style-type: none;
            display: flex;
            float: right;
            font-size: 25px;
            margin-bottom: 10px;
            margin-top: 25px;
            a{
                text-decoration: none;
                color: rgb(0, 0, 0);
                margin-right: 35px;
            }
            
            
        }
        img{
            float: left;
            width: 214px;
            height: 72px;
            
        }
    }
    //Название страницы
    .page{
        background-color: #3D8EB9;
        color: white;
        width: 743px;
        h1{
            padding: 25px;
        }
        
    }
    //Главная страница
    .news{
        h1{
            text-align: center;
            font-size: 25px;
        }
        .news_block{
            width: 729px;
            img{
                float: left;
                width: 278px;
                height: 278px;
                margin-right: 20px;
            }
            p{
                font-size: 15px;
            }
        }
        margin-bottom: 220px;
    }
    .ofirme{
        h1{
            text-align: center;
            font-size: 25px;
        }
        ul{
            font-size: 15px;
        }
        p{
            font-size: 15px;
        }
    }
    .info{
        h1{
            text-align: center;
            font-size: 25px;
        }
        li{
            font-size: 15px;
        }
        p{
            margin: 0;
            font-size: 15px;
        }
    }
    .vacancy{
        h1{
            text-align: center;
            font-size: 25px;
        }
        .vacancy_block{
            background-color: #3D8EB9;
            margin-bottom: 50px;
            p{
                font-size: 15px;
                margin: 0;
                padding: 7px;
                color: white;
            }
        }
    }
    //Подвал
    .footer{
        background-color: #3D8EB9;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .index{
            width: 108px;
            ul{
                font-size: 20px;
                list-style-type: none;
                color: white;
            
            }
            p{
                font-size: 20px;
            }
        }
        .ysluga{
            width: 110px;
            ul{
                font-size: 20px;
                list-style-type: none;
                color: white;
            }
            p{
                font-size: 20px;
            }
        }
        .otziv{
            width: 119px;
            ul{
                font-size: 20px;
                list-style-type: none;
                color: white;
            }
            p{
                font-size: 20px;
            }
        }
        .kon-info{
            width: 213px;
            ul{
                font-size: 20px;
                list-style-type: none;
                color: white;
            }
            p{
                font-size: 20px;
            }
        }
    }
    //Страница Услуг
    .prays-list{
        h1{
            text-align: center;
            font-size: 25px;
        }
        table {
            border: 1px solid black;
            border-collapse: collapse;
            width: 743px;
            height: 510px;
            margin: auto;
        }
        th {
            border: 1px solid black;
            background-color: #3D8EB9;
            color: white;
            font-size: 25px;
        }
        td {
            border: 1px solid black;
            text-align: center;
            font-size: 25px;
        }
    }
    .yslygi{
        h1{
            text-align: center;
            font-size: 25px;
        }
        
        h2{
            font-size: 20px;
        }
        p{
            font-size: 25px;
        }
        img{
            width: 330px;
            height: 334px;
        }
        
    }
    .zapis{
        h1{
            text-align: center;
        }
        display: grid;
        margin-bottom: 50px;
        input{
            width: 505px;
            height: 64px;
            font-size: 30px;
            margin-bottom: 50px;
        }
        button{
            width: 510px;
            height: 64px;
            font-size: 30px;
            margin-bottom: 190px;
            background-color: #3D8EB9;
            color: white;
        }
    }
    //Страница Отзывов
    .question{
        h1{
            text-align: center;
            font-size: 25px;
        }
        display: grid;
        margin-bottom: 50px;
        input{
            width: 530px;
            height: 64px;
            font-size: 30px;
            margin-bottom: 50px;
            padding-left: 25px;
        }
        textarea{
            width: 510px;
            height: 277px;
            font-size: 30px;
            margin-bottom: 60px;
            padding: 25px;
        }
        button{
            width: 560px;
            height: 64px;
            font-size: 30px;
            margin-bottom: 180px;
            background-color: #3D8EB9;
            color: white;
        }
    }
    .otziv{
        h1{
            text-align: center;
            font-size: 25px;
        }
        display: grid;
        margin-bottom: 50px;
        input{
            width: 530px;
            height: 64px;
            font-size: 30px;
            margin-bottom: 50px;
            padding-left: 25px;
        }
        textarea{
            width: 510px;
            height: 277px;
            font-size: 30px;
            margin-bottom: 60px;
            padding: 25px;
        }
        button{
            width: 560px;
            height: 64px;
            font-size: 30px;
            margin-bottom: 100px;
            background-color: #3D8EB9;
            color: white;
        }
    }
}