- var docName = "MyGiro"

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= docName
        link(rel="stylesheet", href="styles/style.css")
    body
        include modules/header
        .wrapper
            .page
                h1 Отзывы
            .question 
                h1 Вопросы и ответы
                input(type="text" placeholder="Ваши Ф.И.О.")
                input(type="email" placeholder="Email")
                textarea(name="question", cols="30", rows="10" placeholder="Вопрос")
                button Отправить 
            .otziv 
                h1 Вопросы и ответы
                h2 Вера Эдуардовна
                p Искала качественную и хорошую клинику, чтобы установить стоматологические импланты и по совету коллеги пошла в клинику на Покровке. С порога встретил приятный в общении и вежливый персонал, опыт работы главного врача просто поразил (к нему я и попала на прием). Первый осмотр врач провел качественно, подробно объяснил, как и что будем делать, как стоит ухаживать за полостью рта после установки имплантов, сориентировал по цене. Уже сделали синус лифтинг, никаких претензий нет, продолжаю быть клиентом клиники и надеюсь на успешную установку имплантов.
                h2 Тамара Павлова
                p Меня мучила восьмерка в нижней челюсти, которая все время ныла и буквально лежала перпендикулярно к соседнему зубу и давила на него. Обратилась с этой проблем в стоматологический центр на Покровке. В центр этот прихожу не первый раз, здесь очень уютно, красиво, приветливый медперсонал..... Я и чистку зубов делала, и каналы мне лечили и вот удаление проблемного зуба хирург Ашот Владимирович сделал очень хорошо, я восстановилась после него быстро, даже обезболивающие пить не пришлось. Я рекомендую обращаться в этот стоматологический центр, здесь очень хорошие специалисты
                h2 Руслан Тимуров
                p За диагностикой или удалением зубов мудрости я обращаюсь только в Клинику на Покровке. Как по мне, здесь самые лучшие доктора, персонал и оборудование. Пару лет назад я обращалась сюда с кистой, с тех пор и стала набюлюдаться в этой клинике. Камалян Ашот Владимирович - лучший доктор, который всегда точно диагностирует мои проблемы с зумами и направляет на лечение, либо сам устраняет их, если его компетенция. В самой клинике очень красивый дизайн и приятные люди, работающие в холле. Мне нравится бывать тут даже несмотря на то, что это стоматология
        include modules/footer