- var docName = "MyGiro"

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= docName
        link(rel="stylesheet", href="styles/style.css")
    body
        include modules/header
        .wrapper
            .page
                h1 Услуги
            .prays-list 
                h1 Прайс-лист
                table(table-align="center")
                    tr 
                        th №
                        th Наименование услуги
                        th Стоимость услуги
                    tr 
                        td 1
                        td Пломба световой полимеризации
                        td 4400 руб.
                    tr 
                        td 2
                        td Профессиональная гигиена полости рта
                        td 7500 руб.
                    tr 
                        td 3
                        td Компьютерная томография
                        td 3500 руб.
                    tr 
                        td 4
                        td Удаление имплантата
                        td 12000 руб.
                    tr 
                        td 5
                        td Дентальный имплантат Dentium (Корея)
                        td 38500 руб.
            .yslygi 
                h1 Услуги
                h2 Пломба световой полимеризации
                img(src="img/ysluga1.png", alt="")
                p Это современный стоматологический материал для заполнения полости в зубе, возникшей вследствие кариеса или механического повреждения. Её ещё называют светоотверждаемой или фотополимерной. Основная особенность таких пломб заключается в том, что застывают они только под воздействием синей лампы (сапфировой, плазменной). 
                h2 Профессиональная гигиена полости рта
                img(src="img/ysluga2.png", alt="")
                p Уход за зубами с применением профессиональных методов их очистки. С зубов снимаются отложения, скапливающиеся на эмали и под десной, в результате жизнедеятельности микроорганизмов - в частности, пигментированный зубной налет и зубной камень.
                h2 Компьютерная томография
                img(src="img/ysluga3.png", alt="")
                p Метод диагностики организма, в основании которого лежит неразрушающее послойное исследование тканей и внутренних органов при помощи рентгеновского излучения. Компьютерные томографы позволяют получить изображение с высоким пространственном и контрастном разрешением, а время исследования составляет несколько секунд.
                h2 Удаление имплантата
                img(src="img/ysluga4.png", alt="")
                p Удаление не прижившихся имплантатов. 
                h2 Дентальный имплантат Dentium (Корея)
                img(src="img/ysluga5.png", alt="")
                p Это достаточно качественные зубные имплантаты корейского производства, которые хоть и выпускаются из высококачественной марки титана 4 класса, но обладают лишь стандартной SLA-поверхностью. Эти импланты выпускаются с 2000 года, имеют доступную цену, но, безусловно, их можно отнести лишь к имплантам эконом-класса.
            .zapis 
                h1 Запись на приём
                input(type="text" placeholder="Ваши Ф.И.О.")
                input(type="text" placeholder="Номер телефона")
                input(type="text" placeholder="Дата рождения")
                button Записаться
        include modules/footer         